* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    font-family: sans-serif;
    min-height: 100vh;
}

h1 {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 30px;
}

.bold {
    font-weight: bold;
}

canvas {
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 3px #ccc;
    display: block;
    margin: 0 auto;
}

.buttons {
    text-align: center;
    margin-top: 10px;
}

.send,
.clear {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
}

.send {
    background-color: #11af11;
    border: none;
    border-radius: 5px;
    color: #000000;
    margin-right: 5px;
}

.send:hover {
    background-color: #15cc15;
    border: none;
    border-radius: 5px;
}

.clear {
    background-color: #bcbe12;
    border: none;
    border-radius: 5px;
    color: #000000;
    margin-left: 5px;
}

.clear:hover {
    background-color: #f1f50e;
    border: none;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

footer ul {
    list-style: none;
    display: flex;
}

footer ul li {
    margin: 0 20px;
}
